root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size  = 4
insert_final_newline = true

# Solution Files
[*.sln]
indent_style = tab

# XML Project Files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_style = space
indent_size = 2

# Configuration Files
[*.{json,xml,yml,config,props,targets,nuspec,resx,ruleset}]
indent_style = space
indent_size = 2

# Markdown Files
[*.md]
indent_style = space
trim_trailing_whitespace = false
